<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <bean id="userDao" class="cn.jfliu.dao.impl.UserDaoImpl" scope="prototype"></bean>-->
<!--        <bean id="userDao" class="cn.jfliu.factory.StaticFactory" factory-method="getUserDao"></bean>-->
<!--        <bean id="factory" class="cn.jfliu.factory.DynamicFactory"></bean>-->
<!--        <bean id="userDao" factory-bean="factory" factory-method="getUserDao"></bean>-->

        <bean id="userDao" class="cn.jfliu.dao.impl.UserDaoImpl">
                <property name="name" value="张三"></property>
                <property name="age" value="18"></property>
        </bean>
        <bean id="userService" class="cn.jfliu.service.impl.UserServiceImpl">
                <property name="userDao" ref="userDao"></property>
        </bean>
<!--        <bean id="userService" class="cn.jfliu.service.impl.UserServiceImpl" p:userDao-ref="userDao"></bean>-->
<!--        <bean id="userService" class="cn.jfliu.service.impl.UserServiceImpl">-->
<!--                <constructor-arg name="userDao" ref="userDao"></constructor-arg>-->
<!--        </bean>-->
        <import resource="applicationContext-user.xml" />
</beans>
